.tori{
    background-color: lightsalmon;
}
.matek{
    background-color: #179BFF;
}
.magyar{
    background-color: #44C215;
}
.valaszok {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #2b2b2b;
    padding: 12px 18px;
    margin: 8px 0;
    border-radius: 6px;
    font-size: 18px;
    transition: background 0.2s, transform 0.15s;
}

.valaszok label {
    flex: 1;
    text-align: center;
}

.valaszok input[type="radio"] {
    width: 20px;
    height: 20px;
    cursor: pointer;
}


.valaszok:hover {
    background: #3a3a3a;
    transform: scale(1.01);
}
main {
    padding: 40px;
    border-radius: 14px;
    box-shadow: 0 0 25px rgba(0,0,0,0.35);
    margin: 40px auto;
    max-width: 900px;
}
body{
    background-color: #2b2b2b;
}