.tori{
    background-color: lightsalmon;
}
.matek{
    background-color: #179BFF;
}
.magyar{
    background-color: #44C215;
}
.valaszok {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #2b2b2b;
    padding: 12px 18px;
    margin: 8px 0;
    border-radius: 6px;
    font-size: 18px;
}

.valaszok label {
    flex: 1;
    text-align: center;
}

.valaszok input[type="radio"] {
    width: 20px;
    height: 20px;
    cursor: pointer;
}


